$color-map:(
    gray-100:#D2D3E2,
    gray-200:#FBFCFD,
    gray-300:#F2F5F9,
    gray-400:#E7E8EF,
    gray-500:#F4F7FA,
    white:#FFF,
    yellow:#FFE56E,
    green:#37CE82,
    red:#FF4E6D,
    dark-50:#121B2C,
    dark-100:#1D293F,
    dark-200:#172135,
    dark-300:#343F53,
    dark-400:#666E7D,
    dark-500:#B7B4CB,
    blue-100:#1E266D,
    blue-200:#0555FF,
    blue-300:#E5EFFF,
    box-shadow:#002980
);