.#{$tag}-input{
    box-shadow: none;
    border:none;

    &.style-1{
        display: inline-block;
        font-size:12px;
        font-weight: weight(bold);
        color:color(dark-100);
        background-color:color(gray-200);
        border:1px solid color(gray-100);
        padding:1em 1.25em;
        border-radius:5px;
        transition:border-color .4s, color .4s ease-in;
        
        &.#{$tag}-dark{
            background-color:rgba(color(white),.1);
            border-color:rgba(color(white),.1);
            color:color(white);

            &::placeholder{
                color:rgba(color(white),.5);
            }
        }

        &::placeholder{
            color:color(gray-100);
        }

        &.error{
            border-color:color(red);

            &:hover,
            &:focus{
                border-color:color(red);
            }
        }

        &:hover,
        &:focus{
            border-color:color(blue-200);
        }
    }

    &.style-2{
        display: inline-block;
        font-size:12px;
        font-weight: weight(bold);
        background-color:color(gray-200);
        color:color(dark-100);
        border:1px solid color(gray-100);
        padding:1em 1.25em;
        border-radius:5px;
        transition:border-color .4s, color .4s ease-in;

        &::placeholder{
            color:rgba(color(blue-100),.3);
        }

        &.error{
            border-color:color(red);

            &:hover,
            &:focus{
                border-color:color(red);
            }
        }

        &:hover,
        &:focus{
            border-color:color(blue-200);

        }
    }

    &.file-style-1{
        display: none;

        &.image{
            &+label{
                &::before{
                    position: relative;
                    content:"Add Image";
                    display: block;
                    font-size:14px;
                    font-weight: weight(medium);
                    color:rgba(color(blue-100),.5);
                    text-transform: none!important;
                }
            }
        }
        
        &+label{
            display: block;
            width:100%;
            height:90px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:color(gray-200);
            border-radius: 10px;
            border:2px dashed rgba(color(blue-100),.2);
            cursor: pointer;

            &.#{$tag}-dark{
                background-color:rgba(color(white),.1);
                border-color:rgba(color(white),.1);
                &::before{
                    color:rgba(color(white),.5);
                }
            }
        }
    }
}